@import '../../../App.scss';

.home-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
    background: #fff;
    overflow: hidden;

    @include mobile {
        margin: 10px 10px 0;
        flex-direction: column;
        width: unset;
        overflow: unset;
    }


    .cart-item {
        width: 470px;
        height: 252px;

        @include mobile {
            height: unset;
        }

        span {
            display: block;
            margin-bottom: 18px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28.13px;

            @include mobile {
                font-size: 16px;
                text-align: center;
            }
        }

        img {
            width: 128px;
            height: 128px;
            float: left;
            margin-right: 16px;

            @include mobile {
                display: block;
                float: none;
                margin: 0 auto;
            }
        }

        p {
            width: 100%;
            display: inline;
            overflow: hidden;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;

            @include mobile {
                display: block;
                text-align: start;
            }
        }
    }
}